
$fade-in-animation-duration: 250ms;

.tech-tile-container {
	$tech-tile-dimens: 120px;

	width: $tech-tile-dimens;
	height: $tech-tile-dimens;

  	&:hover {
		.tech-tile {
			rotate: y 180deg;
		}
	}

	.tech-tile {
		width: 100%;
		height: 100%;
		border: 2px solid black;
		border-radius: 50%;
		position: relative;
		background-color: white;
		transform-style: preserve-3d;
		transition: rotate 500ms ease-out;
		
		.tech-tile-image,
		.tech-tile-name {
			width: 100%;
			height: 100%;
			position: absolute;
			backface-visibility: hidden;
			border-radius: 50%;
		}
	
		.tech-tile-name {
			font-size: 19px;
			color: black;
			font-weight: bold;
			rotate: y 180deg;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.tech-tile-image {
			object-fit: contain;
			background-position: center;
			background-repeat: no-repeat;
		  }
	}
}


@media screen and (max-width: 1085px) {
  .tech-tile-container {
    --tech-tile-dimens: 80px;

    .tech-tile-name {
      font-size: 13px;
    }
  }
}