
.hero-container {
  padding: calc(var(--navbar-height) + 10%) 4% calc(var(--navbar-height) + 20%) 4%;

  .hero-title {
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.2px;
  }
  
  .hero-subtitle {
    font-size: 26px;
    margin-top: 2.2rem;
  }
}

@media screen and (max-width: 1085px) {
  .hero-container {
    padding: calc(var(--navbar-height)) 4% calc(var(--navbar-height) + 20%) 3%;

    .hero-title {
      font-size: 70px;
    }
  }
}