
.footer-container {
  --footer-social-animations-duration: 250ms;

  background-color: black;
  color: white;

  .footer-content {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: #cccccc;
      height: 1px;
      width: 90%;
      bottom: 20px;
    }

    .footer-summery {
      text-align: start;

      .footer-summery-subtitle {
        line-height: 2;
      }
    }
    
    .footer-social-content {
      display: flex;
      gap: 10px;
    }
  }

  .footer-copyright {
    padding: 3%;
    font-size: 11px;
  }
}

.social-link {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1.5px solid white;
  border-radius: 50%;
  transition: background-color var(--footer-social-animations-duration) linear;

  &-image {
    width: 100%;
    height: 100%;
    transition: filter var(--footer-social-animations-duration) linear;
  }

  &:hover {
    background-color: white;
  }
}

.social-link:hover > .social-link-image {
  filter: invert(100%);
}

.footer-title {
  text-transform: uppercase;
}